.card-flip {
  perspective: 1000px;
  width: 80px;
  height: 112px;
}

.card-flip__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.card-flip__front,
.card-flip__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-flip__back {
  transform: rotateY(180deg);
}
