.chip-stack {
  position: relative;
  width: 60px;
  height: 60px;
}

.chip-stack__wrapper {
  position: absolute;
  inset: 0;
}

.betting-chips {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  min-height: 60px;
}
